name: build-master

on:
  push:
    branches: ['main']

jobs:
  build:
    name: Build master
    uses: flaviostutz/gh-makefile/.github/workflows/make-ci.yml@main
    with:
      working-directory: ./
      tooling: node
      tooling-version: 20
      target-build: true
      target-lint: false
      target-test: true