name: publish-tag

on:
  push:
    tags:
      - '*'

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:

  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          cache: pnpm
          cache-dependency-path: |
            lib/pnpm-lock.yaml
            example/pnpm-lock.yaml
      - run: make build
      - run: make test
      - run: make publish
