name: publish-tag

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Check package
    uses: flaviostutz/gh-makefile/.github/workflows/make-ci.yml@main
    with:
      working-directory: ./
      tooling: node
      tooling-version: 20
      target-build: true
      target-test: true

  publish:
    name: Publish to npmjs.org
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      id-token: write    
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm config set registry https://registry.npmjs.org/
      - run: npm config set @stutzlab:registry https://registry.npmjs.org/
      - run: make build
      - run: make publish
