name: publish-tag

on:
  push:
    tags:
      - '*'

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  build:
    name: Check package
    uses: flaviostutz/gh-makefile/.github/workflows/make-ci.yml@main
    with:
      working-directory: ./
      tooling: node
      tooling-version: 20
      target-build: true
      target-lint: true
      target-test: true

  publish:
    name: Publish to npmjs.org
    runs-on: ubuntu-latest
    needs: build
    environment: npmjs-registry
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - run: make build
      - run: make publish
