name: publish-tag

on:
  push:
    tags:
      - '*'

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish:
    name: Publish to npmjs.org
    runs-on: ubuntu-latest
    needs: build
    environment: npmjs-registry
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
          cache: true
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - run: make build test
      - run: make publish
